backend:
  name: github
  branch: main
  repo: fluid-project/trivet-monolingual
  base_url: https://auth.incd.ca
  commit_messages:
    create: 'chore(cms): create "{{path}}"'
    update: 'chore(cms): update "{{path}}"'
    delete: 'chore(cms): delete "{{path}}"'
    uploadMedia: 'chore(cms): upload "{{path}}"'
    deleteMedia: 'chore(cms): delete "{{path}}"'
media_folder: src/assets/uploads
public_folder: /assets/uploads

editor:
  preview: false
collections:
  - label: Posts
    label_singular: Post
    name: post
    folder: src/collections/posts/
    extension: md
    create: true
    sortable_fields:
      fields: [title, date]
      default:
        field: date
        direction: descending
    fields:
      - {label: Title, name: title, widget: string}
      - {label: UUID, name: uuid, widget: uuid, i18n: duplicate}
      - {label: Excerpt, name: excerpt, widget: string, required: false}
      - {label: Author, name: author, widget: string}
      - {label: Publication Date, name: date, widget: datetime}
      - {label: Body, name: body, widget: markdown}
  - label: Pages
    label_singular: Page
    name: page
    folder: src/collections/pages/
    extension: md
    create: true
    filter: {field: layout, value: layouts/page}
    sortable_fields:
      fields: [title, order]
      default:
        field: order
        direction: ascending
    fields:
      - {label: Title, name: title, widget: string}
      - {label: UUID, name: uuid, widget: uuid, i18n: duplicate}
      - {label: Layout, name: layout, widget: hidden, default: layouts/page}
      - {label: Navigation Order, name: order, widget: number, min: 0}
      - {label: Navigation Label, name: key, widget: string, required: false}
      - {label: Excerpt, name: excerpt, widget: string, required: false}
      - {label: Body, name: body, widget: markdown}
  - label: Site Configuration
    name: config
    files:
      - label: Site Configuration
        name: config
        file: src/_data/config.json
        fields:
          - {label: URL, name: url, widget: string}
          - {label: Maximum Posts in RSS Feed, name: maxPostsInFeed, widget: number, min: 1}
  - label: Site Data
    name: data
    files:
      - label: Site Data
        name: site
        file: src/_data/site.json
        fields:
          - {label: Name, name: name, widget: string}
          - {label: Description, name: description, widget: text}
          - {label: Author Name, name: authorName, widget: string}
          - {label: Author Email, name: authorEmail, widget: string}
          - {label: Author Website, name: authorWebsite, widget: string}
