---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ locale }}">
    <title>{{ site.name }}</title>
    <subtitle>The most recent posts from {{ site.name }}</subtitle>
    <link href="{{ config.url }}/feed.xml" rel="self"/>
    <link href="{{ config.url }}"/>
    <updated>{{ collections.postFeed | rssLastUpdatedDate }}</updated>
    <id>{{ config.url }}</id>
    <author>
        <name>{{ site.authorName }}</name>
        <email>{{ site.authorEmail }}</email>
    </author>
    {% for post in collections.postFeed %}
        {% set absolutePostUrl %}{{ config.url }}{{ post.url | url }}{% endset %}
    <entry>
        <title>{{ post.data.title }}</title>
        <link href="{{ absolutePostUrl }}"/>
        <updated>{{ post.date | rssDate }}</updated>
        <id>{{ absolutePostUrl }}</id>
        <content type="html"><![CDATA[
        {{ post.templateContent | safe }}
        ]]></content>
    </entry>
    {% endfor %}
</feed>
